<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="robots" content="noindex">
    <meta name="keywords" content="同去热门项目控制台,青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="青鸟工作室同去热门项目控制台">
    <title>控制台 | 同去热门项目</title>
    <link href="./stylesheets/css/console.css" rel="stylesheet">
</head>

<body id="particle">
    <div class="header">
        <div class="header-panel">
            <ul class="header-list">
                <li><a href="/">首页</a></li>
                <li><a href="/tongqu/">同去</a></li>
                <li><a href="/contact">联系</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="console-title">
                <p>控制台</p>
            </div>
            <div class="console-content" id="consoleContent">
                <div class="console-content-wrap" id="consoleContentWrap">
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
        var href = location.href;
        var key = href.substring(href.length - 4);
        var dataFirst = "";
        var dataTemp = "";
        var count = 1;
        var int = setInterval(function() {
            $.get("update?key=" + key, function(data, status) {
                if (status == "success") {
                    if (count) {
                        dataFirst = data;
                        setTimeout(function() {
                            if (dataTemp == dataFirst) {
                                $("#consoleContentWrap").append("<p>温馨提示，控制台信息已停止自动更新</p><p>请手动刷新当前页面恢复</p>");
                                $("#consoleContent").scrollTop(40000);
                                window.clearInterval(int);
                            }
                        }, 180000);
                        count--;
                    }
                    if (data != dataTemp) {
                        $("#consoleContentWrap").html(data);
                        $("#consoleContent").scrollTop(40000);
                        dataTemp = data;
                        if (data.substr(data.length - 6, 2) == "联系") {
                            count = 1;
                        }
                    }
                }
            });
        }, 500);
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
