<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="robots" content="noindex">
    <meta name="keywords" content="同去热门项目控制台,青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="青鸟工作室同去热门项目控制台">
    <title> <%= consolerror.title %> | 同去热门项目</title>
    <link href="./stylesheets/css/console.css" rel="stylesheet">
</head>

<body id="particle">
    <div class="header">
        <div class="header-panel">
            <ul class="header-list">
                <li><a href="/">首页</a></li>
                <li><a href="/tongqu/">同去</a></li>
                <li><a href="/contact">联系</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="console-title">
                <p>控制台</p>
            </div>
            <div class="console-content" id="consoleContent">
                <div class="console-content-wrap" id="consoleContentWrap">
                    <p>非常抱歉，
                        <%= consolerror.content %>
                    </p>
                    <p>请联系我们，或 <a onclick="javascript:history.go(-1);">返回上一页</a></p>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
    });
    </script>
    <% include daovoice.html %>
</body>

</html>
