<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow">
    <title>联系我们 | 青鸟工作室</title>
    <meta name="keywords" content="联系我们,青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="欢迎联系青鸟工作室">
    <link href="./stylesheets/css/contact.css" rel="stylesheet">
</head>

<body id="particle">
    <% include navbar.html %>
    <div class="content">
        <div class="content-wrap">
            <div class="contact-title">
                <p>联系我们</p>
            </div>
            <div class="contact-content">
                <div class="contact-content-wrap">
                    <p><strong>实时</strong>：点击右下角图标</p>
                    <p><strong>微信</strong>：扫描下方二维码</p>
                    <div><img src="./images/qrcode.jpg" alt="qingniaostudio-QRCode" /></div>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
