<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="keywords" content="联系我们,青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="欢迎联系青鸟工作室">
    <title>联系我们 | 青鸟工作室</title>
    <link href="./stylesheets/css/contact.css" rel="stylesheet">
</head>

<body id="particle">
    <div class="header">
        <div class="header-panel">
            <ul class="header-list">
                <li><a href="/">首页</a></li>
                <li><a href="/tongqu/">同去</a></li>
                <li class="active"><a href="/contact">联系</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="contact-title">
                <p>联系我们</p>
            </div>
            <div class="contact-content">
                <div class="contact-content-wrap">
                    <p>1. <strong>实时</strong>：点击右下角图标</p>
                    <p>2. <strong>邮箱</strong>：contact@qingniao.tech</p>
                    <p>3. <strong>微信</strong>：qingniaostudio</p>
                    <div><img src="./images/qrcode.jpg" alt="qingniaostudio-QRCode" /></div>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
