<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="keywords" content="同去热门项目正式版,青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="青鸟工作室同去热门项目正式版">
    <title>正式版 | 同去热门项目</title>
    <link href="./stylesheets/css/trial.css" rel="stylesheet">
</head>

<body id="particle">
    <div class="header">
        <div class="header-panel">
            <ul class="header-list">
                <li><a href="/">首页</a></li>
                <li><a href="/tongqu/">同去</a></li>
                <li><a href="/contact">联系</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="prepare-title">
                <p>同去活动链接</p>
            </div>
            <form action="formal" method="POST">
                <div class="form-wrap">
                    <div class="input-panel">
                        <span>http://www.tongqu.me/act/</span>
                        <input class="tongqu-id" type="number" name="content" placeholder="同去id" pattern="\d{5}" required="required" />
                    </div>
                    <div class="input-panel input-panel-2">
                        <span>激活码：</span>
                        <input class="tongqu-id" type="number" name="key" placeholder="激活码" pattern="\d{4}" required="required" />
                    </div>
                    <div class="submit-panel">
                        <input class="form-submit" type="submit" value="开始" />
                    </div>
                </div>
            </form>
            <div class="prepare-tip">
                <p class="prepare-tip-title"><strong>温馨提示</strong></p>
                <div class="line-panel">
                    <p class="line"></p>
                </div>
                <p>1. <strong>同去id即活动链接最后5位数字</strong></p>
                <p>2. <strong>激活码为4位随机数字</strong></p>
                <p>3. <strong>点击“开始”后自动开始，且不可暂停或取消</strong></p>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
