<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="robots" content="noindex">
    <meta name="keywords" content="上帝之眼,同去热门,同去监控,同去排名,青鸟工作室,小众场景">
    <meta name="description" content="同去监控项目上帝之眼">
    <title>上帝之眼 | 同去热门项目</title>
    <link href="./stylesheets/css/godconsole.css" rel="stylesheet">
</head>

<body id="particle">
    <div class="header">
        <div class="header-panel">
            <ul class="header-list">
                <li><a href="/">首页</a></li>
                <li><a href="/tongqu/">同去</a></li>
                <li><a href="/contact">联系</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="content-wrap">
            <div class="god">
                <div class="god-wrap">
                    <div class="god-title">
                        <p>上帝之眼</p>
                    </div>
                    <table class="god-table">
                        <thead>
                            <tr>
                                <th class="col1">浏览数</th>
                                <th class="col2">索引</th>
                                <th class="col3">代号</th>
                                <th class="col4">空闲</th>
                                <th class="col5">名单</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<=32; i++) { var j=(i<=8 ? 0 : i); %>
                                <tr>
                                    <td class="col1td"><%= increaseViewsIndex[i] %></td>
                                    <td class="col2td"><%= i %></td>
                                    <td class="col3td"><%= keyIndex[i] %></td>
                                    <td class="col4td"><%= consoleInfos[i].status %></td>
                                    <td class="col5td">
                                        <div>
                                            <span class="col5span" data-toggle="tooltip" title="<%= JSON.stringify(consoleInfos[j].blacklist) %>">
                                                <% consoleInfos[j].blacklist.forEach(function(blackid){ %>
                                                    <span>[<del><%= blackid %></del>]</span>
                                                <% }) %>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        if ($(window).width() > 768) {
            $('#particle').particleground({
                dotColor: '#c8c8c8',
                lineColor: '#6d6d6d'
            });
        }
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <% include growingio.html %>
</body>

</html>
