<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="robots" content="all">
    <meta name="robots" content="index,follow">
    <title>青鸟工作室 | 专注互联网小众场景解决方案</title>
    <meta name="keywords" content="青鸟工作室,同去热门,同去监控,小众场景">
    <meta name="description" content="青鸟工作室，由上海交通大学研究生创办，专注互联网小众场景解决方案">
    <link href="./stylesheets/css/index.css" rel="stylesheet">
</head>

<body id="particle">
    <% include navbar.html %>
    <div class="content">
        <div class="content-wrap">
            <div class="image">
                <div class="image-panel">
                    <img src="./images/logo.png" alt="青鸟Logo" />
                </div>
            </div>
            <div class="workshop">
                <span>青鸟工作室</span>
            </div>
            <div class="description">
                <p class="introduction">我们是一家由上海交通大学研究生创办的工作室</p>
                <div class="line-panel">
                    <p class="line"></p>
                </div>
                <p class="detail">利用互联网最新最热的技术</p>
                <p class="detail">青鸟工作室布局小众场景的挖掘和开拓</p>
                <p class="detail">以更快满足大众需求</p>
            </div>
            <div class="archive">
                <div class="archive-wrap">
                    <div class="archive-text"><span>了解我们的成果</span></div>
                    <button class="archive-btn" id="archiveBtn">
                        <img src="./images/tongqu-monitor.png" alt="同去" />
                        <span>同去热门</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        $("#particle").particleground({
            dotColor: '#c8c8c8',
            lineColor: '#6d6d6d'
        });
        $("#archiveBtn").on("click", function() {
            location.href = location.origin + "/tongqu/";
        });
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
