<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <% include header.html %>
    <meta name="keywords" content="同去热门,同去监控,同去排名,青鸟工作室,小众场景">
    <meta name="description" content="同去监控项目是青鸟工作室的主要成果，让您在同去网发布的活动信息出现在首页最显眼的位置">
    <title>同去热门 | 青鸟工作室</title>
    <link href="./stylesheets/css/tongqu.css" rel="stylesheet">
</head>

<body id="particle">
    <% include navbar.html %>
    <div class="content">
        <div class="content-wrap">
            <div class="tongqu">
                <span>同去热门</span>
            </div>
            <div class="slogan">
                <span>一瓶饮料钱 = 同去首页最显眼的位置</span>
            </div>
            <div class="description">
                <p>来自Alexa中国的统计数据显示，
                    <br />同去网平均每天浏览量<strong>12,000</strong>次左右，平均每个人浏览<strong>1.6</strong>个页面</p>
                <div class="line-panel">
                    <p class="line"></p>
                </div>
                <p><strong>显然，活动信息能否长期驻留首页，直接决定宣传效果的好坏</strong></p>
            </div>
            <div class="free-trial">
                <a target="_blank" href="trial">免费试用</a>
            </div>
            <div class="price">
                <div class="price-wrap">
                    <div class="price-title-panel">
                        <p class="price-title">价格方案</p>
                        <p class="price-subtitle">比印发传单不知要便宜多少...</p>
                    </div>
                    <table class="price-table">
                        <thead>
                            <tr>
                                <th class="col1">浏览数</th>
                                <th class="col2">原价/元</th>
                                <th class="col3">优惠价/元</th>
                                <th class="col4">单价/元</th>
                                <th class="col5">付款方案</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col1td">100</td>
                                <td class="col2td">
                                    <del>10</del>
                                </td>
                                <td class="col3td">5</td>
                                <td class="col4td">0.05</td>
                                <td class="col5td">付5元，刷100</td>
                            </tr>
                            <tr>
                                <td class="col1td">500</td>
                                <td class="col2td">
                                    <del>30</del>
                                </td>
                                <td class="col3td">15</td>
                                <td class="col4td">0.03</td>
                                <td class="col5td">付5元，刷100
                                    <br />再付10元，刷剩余400</td>
                            </tr>
                            <tr>
                                <td class="col1td">1,000</td>
                                <td class="col2td">
                                    <del>40</del>
                                </td>
                                <td class="col3td">20</td>
                                <td class="col4td">0.02</td>
                                <td class="col5td">付10元，刷300
                                    <br />再付10元，刷剩余700</td>
                            </tr>
                            <tr>
                                <td class="col1td">2,000</td>
                                <td class="col2td">
                                    <del>60</del>
                                </td>
                                <td class="col3td">30</td>
                                <td class="col4td">0.015</td>
                                <td class="col5td">付10元，刷300
                                    <br />再付20元，刷剩余1,700</td>
                            </tr>
                            <tr>
                                <td class="col1td">5,000</td>
                                <td class="col2td">
                                    <del>100</del>
                                </td>
                                <td class="col3td">50</td>
                                <td class="col4td">0.01</td>
                                <td class="col5td">付10元，刷300
                                    <br />再付40元，刷剩余4,700</td>
                            </tr>
                            <tr>
                                <td class="col1td">10,000</td>
                                <td class="col2td">
                                    <del>188</del>
                                </td>
                                <td class="col3td">88</td>
                                <td class="col4td">0.0088</td>
                                <td class="col5td">付20元，刷1,000
                                    <br />再付68元，刷剩余9,000</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="price-tip">
                        <p class="price-tip-title"><strong>温馨提示</strong></p>
                        <div class="line-panel">
                            <p class="line"></p>
                        </div>
                        <p>1. <strong>前5单执行优惠价，过后立刻恢复原价</strong></p>
                        <p>2. 可参考下面“同去热门活动实时状态”进行选择</p>
                        <p>3. 每个同去活动链接每小时可参与一次免费试用 <a target="_blank" href="trial">点此体验</a></p>
                    </div>
                </div>
            </div>
            <div class="monitor">
                <div class="monitor-wrap">
                    <div class="monitor-title-panel">
                        <p class="monitor-title">同去首页热门活动实时状态</p>
                        <p class="monitor-subtitle">最新更新：
                            <%= updateTime %>
                        </p>
                    </div>
                    <table class="monitor-table">
                        <thead>
                            <tr>
                                <th class="col1">排名</th>
                                <th class="col2">活动</th>
                                <th class="col3">链接</th>
                                <th class="col4">浏览数</th>
                                <th class="col5">报名数</th>
                                <th class="col6">评论数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<=9; i++) { var j=i+1 %>
                                <tr>
                                    <td class="col1td"><%= j %></td>
                                    <td class="col2td">
                                        <div>
                                            <span data-toggle="tooltip" title="<%= popularActivities[i].name %>"><%= popularActivities[i].name %></span>
                                        </div>
                                    </td>
                                    <td class="col3td"><a target="_blank" href=<%= popularActivities[i].url %>><%= popularActivities[i].id %></a></td>
                                    <td class="col4td"><%= popularActivities[i].views %></td>
                                    <td class="col5td"><%= popularActivities[i].members %></td>
                                    <td class="col6td"><%= popularActivities[i].comments %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <script>
    $(function() {
        if ($(window).width() > 768) {
            $('#particle').particleground({
                dotColor: '#c8c8c8',
                lineColor: '#6d6d6d'
            });
        }
        $("[data-toggle='tooltip']").tooltip();
    });
    </script>
    <% include daovoice.html %>
    <% include growingio.html %>
</body>

</html>
