html {
	min-height: 100%;
	body {
		min-height: 100%;
		.header {
	    top: 0;
	    left: 0;
	    width: 100%;
			height: 60px;
	    border-bottom: 1px solid #e1e1e1;
	    background-color: white;
	    display: flex;
	    justify-content: center;
	    .header-panel {
	    	width: calc(100% - 80px);
		    height: 100%;
		    display: flex;
		    justify-content: flex-end;
		    .header-list {
		    	list-style: none;
			    height: 100%;
			    margin-bottom: 0;
			    display: flex;
	        -webkit-padding-start: 0;
			    li {
			    	width: 80px;
    				height: 100%;
    				a {
    					width: 80px;
					    height: 100%;
					    display: flex;
					    justify-content: center;
					    align-items: center;
					    font-size: 16px;
					    color: #333;
					    &:hover {
					    	color: #337ab7;
						    text-decoration: none;
						    background-color: #f5f5f5;
						    color: #00aff0;
						    cursor: pointer;
					    }
					    &:focus {
					    	text-decoration: none;
					    }
    				}
			    }
			    .active {
			    	border-bottom: 2px solid #00aff0;
			    }
		    }
	    }
		}
		.content {
	    top: 60px;
	    left: 0;
	    width: 100%;
			background-color: rgba(255,255,255,0.8);
			display: flex;
    	justify-content: center;
    	align-items: center;
    	.content-wrap {
    		width: 600px;
    		.god {
    			margin-top: 60px;
    			margin-bottom: 40px;
    			.god-wrap {
    				.god-title {
    					display: flex;
					    justify-content: center;
							p {
								font-size: 28px;
							}
    				}
    				.god-table {
    					margin-top: 10px;
    					thead {
    						tr {
    							height: 35px;
    							line-height: 35px;
    							th {
								    background: #efefef;
    								border: 1px solid #e5e5e5;
    								vertical-align: middle;
    								text-align: center;
    								width: 75px;
    							}
    							.col5 {
    								width: 300px;
    							}
    						}
    					}
    					tbody {
    						tr {
    							height: 35px;
	    						line-height: 35px;
	    						td {
		    						border: 1px solid #e5e5e5;
		    						vertical-align: middle;
		    						text-align: center;
		    						width: 75px;
	    						}
	    						.col5td {
	    							width: 300px;
	    							div {
	    								.tooltip-inner {
	    									max-width: none;
	    								}
	    							}
	    						}
    						}
    					}
    				}
    			}
    		}
    	}
		}
		.footer {
	    left: 0;
	    top: 1445px;
	    width: 100%;
			height: 40px;
    	border-top: 1px solid #e1e1e1;
    	background-color: white;
    	.footer-panel {
    		height: 100%;
		    display: flex;
		    justify-content: center;
		    .footer-image {
		    	display: flex;
    			align-items: center;
    			img {
    				width: 32px;
    				height: 32px;
    			}
		    }
		    .copyright {
		    	margin-left: 10px;
			    display: flex;
			    align-items: center;
			    span {
			    	color: #666;
			    }
		    }
    	}
		}
	}
}

@media (min-width: 768px) {
	html {
		height: 1485px;
		body {
			height: 1485px;
			position: relative;
			.pg-canvas {
				width: 100%;
			}
			.header, .content, .footer {
				position: absolute;
			}
			.content {
				.content-wrap {
					.god {
						.god-wrap {
							.god-table {
								tbody {
									tr {
										.col5td {
											div {
										    display: flex;
    										justify-content: center;
    										.col5span {
    											display: inline-block;
											    max-width: 280px;
											    overflow: hidden;
											    text-overflow: ellipsis;
											    white-space: nowrap;
    										}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	html {
		body {
			.header {
				.header-panel {
					justify-content: center;
				}
			}
			.content {
				.content-wrap {
					.god {
						margin: 20px 10px;
				    font-size: 12px;
					}
				}
			}
		}
	}
}