html {
  height: 100%; }
  html body {
    height: 100%;
    position: relative; }
    html body .pg-canvas {
      width: 100%; }
    html body .header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e1e1e1;
      background-color: white;
      display: flex;
      justify-content: center; }
      html body .header .header-panel {
        width: calc(100% - 80px);
        height: 100%;
        display: flex;
        justify-content: flex-end; }
        html body .header .header-panel .header-list {
          list-style: none;
          height: 100%;
          margin-bottom: 0;
          display: flex;
          -webkit-padding-start: 0; }
          html body .header .header-panel .header-list li {
            width: 80px;
            height: 100%; }
            html body .header .header-panel .header-list li a {
              width: 80px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              color: #333; }
              html body .header .header-panel .header-list li a:hover {
                color: #337ab7;
                text-decoration: none;
                background-color: #f5f5f5;
                color: #00aff0;
                cursor: pointer; }
              html body .header .header-panel .header-list li a:focus {
                text-decoration: none; }
          html body .header .header-panel .header-list .active {
            border-bottom: 2px solid #00aff0; }
    html body .content {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 100px);
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      justify-content: center;
      align-items: center; }
      html body .content .content-wrap {
        width: 600px; }
        html body .content .content-wrap .image {
          display: flex;
          justify-content: center; }
          html body .content .content-wrap .image .image-panel {
            width: 100px;
            height: 100px;
            border: 1px solid #e1e1e1;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center; }
            html body .content .content-wrap .image .image-panel img {
              width: 80px;
              height: 80px; }
        html body .content .content-wrap .workshop {
          display: flex;
          justify-content: center; }
          html body .content .content-wrap .workshop span {
            font-size: 40px; }
        html body .content .content-wrap .description {
          border: 1px solid #e1e1e1;
          border-radius: 3px;
          margin-top: 20px;
          padding-top: 12px; }
          html body .content .content-wrap .description p {
            text-align: center; }
          html body .content .content-wrap .description .introduction {
            font-size: 16px; }
          html body .content .content-wrap .description .line-panel {
            display: flex;
            justify-content: center; }
            html body .content .content-wrap .description .line-panel .line {
              text-align: center;
              height: 1px;
              width: 65%;
              background-color: #e1e1e1; }
          html body .content .content-wrap .description .detail {
            text-align: center;
            color: #666; }
        html body .content .content-wrap .archive {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 30px; }
          html body .content .content-wrap .archive .archive-wrap {
            display: flex;
            flex-direction: column; }
            html body .content .content-wrap .archive .archive-wrap .archive-text {
              display: flex;
              justify-content: center; }
              html body .content .content-wrap .archive .archive-wrap .archive-text span {
                color: #999; }
            html body .content .content-wrap .archive .archive-wrap .archive-btn {
              width: 140px;
              height: 40px;
              border: solid 1px #00aff0;
              background-color: #00aff0;
              color: white;
              border-radius: 3px;
              outline: none;
              vertical-align: middle;
              text-align: center;
              line-height: 100%;
              cursor: pointer;
              margin-top: 10px; }
              html body .content .content-wrap .archive .archive-wrap .archive-btn:hover {
                background-color: white;
                color: #00aff0; }
              html body .content .content-wrap .archive .archive-wrap .archive-btn img {
                width: 30%;
                margin-left: -10px; }
              html body .content .content-wrap .archive .archive-wrap .archive-btn span {
                margin-left: 5px; }
    html body .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      border-top: 1px solid #e1e1e1;
      background-color: white; }
      html body .footer .footer-panel {
        height: 100%;
        display: flex;
        justify-content: center; }
        html body .footer .footer-panel .footer-image {
          display: flex;
          align-items: center; }
          html body .footer .footer-panel .footer-image img {
            width: 32px;
            height: 32px; }
        html body .footer .footer-panel .copyright {
          margin-left: 10px;
          display: flex;
          align-items: center; }
          html body .footer .footer-panel .copyright span {
            color: #666; }

@media (max-width: 768px) {
  html body {
    font-size: 12px; }
    html body .header .header-panel {
      justify-content: center; }
    html body .content .content-wrap .workshop span {
      font-size: 30px; }
    html body .content .content-wrap .description {
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 10px;
      padding-right: 10px; }
    html body .content .content-wrap .archive {
      margin-bottom: 20px; } }

/*# sourceMappingURL=index.css.map */
