@import "global";

html {
    min-height: 100%;
    body {
        min-height: 100%;
        .content {
            display: flex;

            top: 60px;
            left: 0;

            width: 100%;

            background-color: rgba(255, 255, 255, .8);

            align-items: center;
            justify-content: center;
            .content-wrap {
                width: 600px;
                .god {
                    margin-top: 60px;
                    margin-bottom: 40px;
                    .god-wrap {
                        .god-title {
                            display: flex;

                            justify-content: center;
                            p {
                                font-size: 28px;
                            }
                        }
                        .god-table {
                            margin-top: 10px;
                            thead {
                                tr {
                                    height: 35px;

                                    line-height: 35px;
                                    th {
                                        border: 1px solid #e5e5e5;
                                        width: 75px;

                                        text-align: center;
                                        vertical-align: middle;

                                        background: #efefef;
                                    }
                                    .col5 {
                                        width: 300px;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    height: 35px;

                                    line-height: 35px;
                                    td {
                                        border: 1px solid #e5e5e5;
                                        width: 75px;

                                        text-align: center;
                                        vertical-align: middle;
                                    }
                                    .col5td {
                                        width: 300px;
                                        div {
                                            .tooltip-inner {
                                                max-width: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            top: 1445px;
            left: 0;

            border-top: 1px solid #e1e1e1;
            width: 100%;
            height: 40px;

            background-color: white;
            .footer-panel {
                display: flex;

                height: 100%;

                justify-content: center;
                .footer-image {
                    display: flex;

                    align-items: center;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
                .copyright {
                    display: flex;

                    margin-left: 10px;

                    align-items: center;
                    span {
                        color: #666;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    html {
        height: 1485px;
        body {
            position: relative;

            height: 1485px;
            .pg-canvas {
                width: 100%;
            }
            .header,
            .content,
            .footer {
                position: absolute;
            }
            .content {
                .content-wrap {
                    .god {
                        .god-wrap {
                            .god-table {
                                tbody {
                                    tr {
                                        .col5td {
                                            div {
                                                display: flex;

                                                justify-content: center;
                                                .col5span {
                                                    display: inline-block;
                                                    overflow: hidden;

                                                    max-width: 280px;

                                                    white-space: nowrap;
                                                    text-overflow: ellipsis;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        body {
            .content {
                .content-wrap {
                    .god {
                        margin: 20px 10px;

                        font-size: 12px;
                    }
                }
            }
        }
    }
}
